@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.app{
  /* background-color: #1c3f54; */
  /* background-image: url(./assets/DarkCartoon.jpeg);
  background-repeat: repeat; */
  
background: #011A4C;
background: radial-gradient(at center, #011A4C, #3462C8);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather{
  position: relative;
  border-radius: 10px;
  background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.5) 0%, rgb(160, 199, 254) 74.6%);
 color: rgb(0, 45, 70);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.732) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.searchContainer{
  display: flex;
  margin: 1rem;
  justify-content: space-around;
  gap: .5rem;
}
.searchIcon{
  height: 2rem;
  /* width: 30px; */
  transition: transform 0.3s ease-in-out;
}
.searchIcon:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.searchIcon:active {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}
.searchBar{
  height: 2rem;
  border-radius: 30px;
  border: none;
  padding-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  outline: none;
}
.searchBar:focus {
  border-color: rgb(0, 45, 70);
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
.searchBar:hover {
  border-color: #007BFF;
}
.Tempicon{
  height: 7rem;
  width: 7rem;
}
.icon{
  height: 2rem;
  width: 2rem;
}
.temp-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.weatherData{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.humidty-container,.wind-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cityName{
  font-size: large;
}
.temp{
  font-size: xx-large;
}
.description {
  font-size: 13px;
}
.suggestion-container{
  display: flex;
  gap: 5px;
}
.searchIcon-suggestion{
  height: 1.2rem;
}
.name-suggestion{
  font-size: 13px;
}

.react-autosuggest__input {
  /* width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  outline: none; */
  height: 2rem;
  border-radius: 30px;
  border: none;
  padding-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  outline: none;
}
.react-autosuggest__input:focus{
  border-color: rgb(0, 45, 70);
  box-shadow: 0 0 8px rgba(0, 26, 55, 0.5);
}

/* Style for the Autosuggest suggestions container */
.react-autosuggest__suggestions-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  max-height: 200px;
  /* max-width: 100%; */
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left:20px; 
  z-index: 1000;
  width: 70%;
}

/* Style for each suggestion item */
.react-autosuggest__suggestion {
  padding: 8px;
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
/* Scrollbar width */
.react-autosuggest__suggestions-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
.react-autosuggest__suggestions-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 4px; /* Optional: rounded corners */
}

/* Handle */
.react-autosuggest__suggestions-container::-webkit-scrollbar-thumb {
  background: #a9c7e8; /* Color of the scrollbar handle */
  border-radius: 4px; /* Optional: rounded corners */
}

/* Handle on hover */
.react-autosuggest__suggestions-container::-webkit-scrollbar-thumb:hover {
  background: #6e98c6; /* Color of the scrollbar handle on hover */
}
